<div class="item-group" category-title="${categoryTitle}" subcategory-title="${subcategoryTitle}">
    <form class="new-item-form">
        <div class="control-group control-new-item control-name">
            <div class="controls">
                <input class="new-item new-item-name" rel="tooltip" type="text" placeholder="New Item Name" maxlength="32" data-title="Invalid item name" data-trigger="manual" data-placement="right"/>
            </div>
        </div>
        <div class="control-group control-new-item input-prepend new-price">
            <div class="controls">
                <span class="add-on">$</span>
                <input class="new-item success" id="prependedInput" rel="tooltip" type="text" placeholder="Price" maxlength="8" data-title="Invalid price" data-trigger="manual" data-placement="right"/>
            </div>
        </div>
        <input href="#" type="submit" class="btn pull-right new-item-submit" value="Confirm"></input>
    </form>
</div>